@import '../../sassStyles/mixin.scss';

.login-mini {
  @include mini-close(right, 100%);
}
.login-mini-openned {
  @include mini-open;
}
.mini-wrap-2 {
  position: relative;
}
.content-login-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 20px;
  .button_primary {
    font-size: 1.5rem;
    font-weight: 550;
    margin-bottom: 15px;
    @include animationTransform(0.5s);
  }
}
.content-login-form-row {
  &.password {
    @include animationTransform(0.4s);
  }
  &.userName {
    @include animationTransform(0.3s);
  }

  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  label {
    color: $lightLetterColor;
    font-size: 1.4rem;
    margin-bottom: 2px;
    line-height: 2;
    font-weight: 500;
  }
  input {
    width: 100%;
    padding: 0 15px;
    font-size: 1.3rem;
    border: $borderColor;
    height: 40px;
    outline: none;
    transition: all 0.4s;
    &:focus {
      border: 1px solid #8a8989;
    }
  }
}

.login-link-acc {
  margin: 5px 0;
  color: $lightLetterColor;
  font-size: 1.6rem;

  a {
    color: $letterColor;
    font-size: 1.7rem;
    text-decoration: none;
    margin-left: 5px;
    transition: color 0.3s;
    &:hover {
      color: $hoverColor;
    }
  }
}
.link-acc-wrapper {
  @include animationTransform(0.6s);
}
