@import '../../sassStyles/mixin.scss';
@import '../../sassStyles/variables.scss';
.sort-mini {
  @include mini-close(right, 100%);
  &.openned {
    @include mini-open;
  }
  @include scroll-bar(2px);
  overflow: auto;
  width: 300px;
}
.sort-list {
  padding: 0;
  list-style: none;
  .sort-item {
    .sort-item-btn {
      &.active {
        color: $hoverColor;
      }
      @include transition(all 0.3s);
      &:hover {
        cursor: pointer;
        color: $hoverColor;
      }
      @include font-size-weight(1.5rem, 400);
      color: $letterColor;
      margin-bottom: 18px;
      border: none;
      outline: none;
      background-color: transparent;
      padding: 0;
    }
  }
}
