@import '../../sassStyles/variables.scss';
@import '../../sassStyles/mixin.scss';

.single-product-img {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
  position: relative;
  padding-top: 120%;
  .single-product-img_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .single-product-img__img {
    &.active {
      opacity: 1;
      visibility: visible;
    }
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 120%;
    @include background-img;
    opacity: 0;
    visibility: hidden;
    @include transition(all 0.7s);
  }
  &:hover {
    .zoom_len,
    .single-product-img__img__zoom {
      pointer-events: none;
      opacity: 1;
      visibility: visible;
      @include transform(scale(1));
    }
  }
  .zoom_len {
    &.hidden {
      opacity: 0;
      @include transform(scale(0.7));
      visibility: hidden;
    }
    position: absolute;
    border: 1px solid #393838;
    /*set the size of the lens:*/
    // top: 0;
    // left: 0;
    width: 200px;
    height: 200px;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.434);
    @include transform(scale(0.7));
    @include transition(top 0.1s, left 0.1s, opacity 0.3s, transform 0.3s);
  }
  .single-product-img__img__zoom {
    &.hidden {
      opacity: 0;
      @include transform(scale(0.7));
      visibility: hidden;
    }
    position: absolute;
    top: 0;
    left: 103%;
    height: 80%;
    width: 100%;
    background-color: white;
    z-index: 104;
    box-shadow: 0 0 30px rgba(84, 84, 84, 0.22);
    // @include transform(scale(0.5));
    @include background-img;
    opacity: 0;
    visibility: hidden;
    @include transform(scale(0.7));
    @include transition(background-position 0.2s, opacity 0.3s, transform 0.3s);
  }
  .prev-arrow,
  .next-arrow {
    opacity: 0;
    visibility: hidden;
    @include transform(translateY(-50%) scale(0.3));
  }
  &:hover {
    .prev-arrow,
    .next-arrow {
      opacity: 1;
      @include transform(translateY(-50%) scale(1));
      visibility: visible;
    }
  }
}

@media (max-width: 600px) {
  .single-product-img {
    .single-product-img__img__zoom {
      display: none;
    }
  }
  .single-product-img {
    .prev-arrow,
    .next-arrow {
      opacity: 1;
      @include transform(translateY(-50%) scale(1));
      visibility: visible;
      &:hover {
        color: #000;
        background-color: transparent;
        border: 1px solid #000;
      }
      &:active {
        color: rgba(255, 255, 255, 0.637);
        background-color: $hoverColor;
        @include transform(translateY(-50%) scale(1.2));
      }
    }
    .next-arrow {
      right: 0px;
    }
    .prev-arrow {
      left: 0px;
    }
  }
  .single-product-img {
    &:hover {
      .zoom_len,
      .single-product-img__img__zoom {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}
