$whiteColor: #ffffff;
$letterColor: #222222;
$lightLetterColor: #878787;
$hoverColor: #56cfe1;
$miniWidth: 340px;
$borderColor: 1px solid #e3e3e3;
$borderBottomColor: 1px solid rgba(129, 129, 129, 0.2);
$borderColordark: 1px solid rgba(67, 66, 66, 0.2);
$footerBackgroundColor: #f6f6f8;
$heightSubMenu: 200px;
